body {
    margin: 0;
    background-color: rgb(93, 93, 214);
}

.box1, .box2 {
    height: 100vh;
}

.box1 {
    background-color: indianred;
}

.box2 {
    background-color: gainsboro;
}

.square {
    background: url(./images/Rotating_earth.gif);
    height: 400px;
    width: 400px;
    background-color: teal;
}

.square2 {
    /* background: url(./images/Rotating_earth.gif); */
    height: 400px;
    width: 400px;
    background-color: teal;
}

.red {
    background-color: crimson;
}